{% extends "main.html" %} <!-- 자식 태그 선언 -->
<!DOCTYPE html>
{% block content %}
<html>

<head>
    <title> Thumbnail </title>
    <meta charset="UTF-8">
    <style>
        .class {  
            text-align: center;
            font-size: 25px;
            margin-top: 45vh;
            margin-bottom: 45vh;
        }
        .class>span{
            margin-right: 100px;
            margin-left: 100px;
        }
        .class >span>a{
            text-decoration: none;
            color: gray;
        }
        .class >span>a:hover{
            color: pink;
            transition:200ms ease all;
        }
    </style>
</head>

<body>
    <div class="class">
        <span><a href="/admin/add" > 투표 추가 하러가기 </a></span>
        <span><a href="/resulttot3"> 투표 결과 보러가기 </a></span>
    </div>

</body>
</html>
{% endblock %}
